/* CSS reset */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, input,p,th, td,button{margin:0;padding:0; font-family:'Microsoft Yahei';}
img,button{border:0; vertical-align: middle;}
table{border-collapse:collapse;border-spacing:0; table-layout:fixed}
button{ outline:none;}
ol, ul{list-style:none}
h1, h2, h3, h4, h5, h6{font-size:100%;font-weight:normal}
input, textarea, select{font-family:inherit;font-size:inherit;font-weight:inherit}
input,textarea,select:focus{outline:none;}
a{text-decoration:none;}
a{outline: none; /* for Forefox */ }  
a{star:expression(this.onFocus=this.blur()); /* for Ie*/ }
input::-ms-clear{display:none;}
html,body{height:100%;}
body{ overflow-x: hidden;}
/* 通用 */
.clear:after {visibility: hidden;display: block;font-size: 0;content: " ";clear: both;height: 0;}
.clear{*zoom:1;}
.layoutMid{ width: 1000px; margin: 0 auto;}
.mfix>*{vertical-align:middle;}
.mfix:before{ content: ''; display:inline-block; height:100%; width:0; vertical-align:middle;}
.po_r{ position: relative;}
.t_r{ text-align: right;}
.t_c{ text-align: center;}
.t_l{ text-align: left;}
.fl{ float:left;}
.fr{ float:right }
.ell{ overflow: hidden; white-space: nowrap; text-overflow: ellipsis}
.h_overhidden{ height: 100%; overflow: hidden;}
/* 基于display:table-cell的自适应布局 */
.cell{display:table-cell; *display:inline-block; width:2000px; *width:auto;}
/**/
.w300{ width: 300px;}
.w690{ width: 690px;}
.h320{ height: 320px;}
.h330{ height: 330px;}
.w416{ width: 416px;}
.w264{ width: 264px;}
.pt_10{ padding-top: 10px;}
.mr_10{ margin-right: 10px;}
.mt_10{ margin-top: 10px !important;}
.pb_30{ padding-bottom: 30px;}
.mtb_10{ margin: 10px 0;}
.w_p50{ width: 50%;}
.main{padding-bottom:20px;}
/*topBar*/
.topBar{background:#333;height:30px;}
.topBar .rows{height:30px;float:right;}
.topBar .rows a{vertical-align: middle;height:30px;color:#ccc;font-size:12px;padding-left:10px;text-align: right;}
.topBar .rows a img{margin-right:5px;}
.topBar .rows a:hover{color:#049FD1;}
/* nav */
.banner{ height: 228px; background:url(../img/bg.jpg) center top no-repeat #1a6cbd; position: relative;overflow:hidden;}
.banner.mini-banner{height:86px;}
.banner .layoutMid{position:relative;height:100%;}
.banner .car{position:absolute;right:0;top:50%;margin-top:-150px;}
.banner .mask{position:absolute;top:0;right:-100%;}
.banner .info{position:absolute;left:30px;top:50%;text-align:center;margin-top:-40px;}
.info h1{font-size:30px;color:#fff;text-align:left;margin-bottom:15px;}
.info a{font-size:14px;color:#fff;border:1px solid #4D8FBC;height:30px;line-height:30px;display:inline-block;padding:0 20px;border-radius:15px;}
.navWrap{height:75px;}
.logo{height:75px;width:400px;background:url(../img/logo.png) no-repeat left center;font-size:0;text-indent:-999px;overflow:hidden;display:inline-block;}
.nav{float:right;height:75px;line-height:75px;}
.nav a{font-size:15px;color:#333;display:inline-block;height:30px;line-height:30px;border-radius:15px;padding:0 20px;}
.nav a.current{border:1px solid #014397;}
.nav a:hover{color:#004B99;}
/*weather*/
.weather{border-bottom:1px solid #E8E8E8;padding:7px 0;}
.weather span{font-size:12px;margin-right:10px;}
/* con */
.section{ margin-top:20px;}
.ad{ display: block;}
.ad img{ width: 100%;}
.con{ box-sizing: border-box; padding: 0 10px;}
.con_hd{ height: 32px; line-height: 32px; font-size: 16px; color: #333; padding: 0 10px 0 20px; position: relative;}
.con_hd:before{ content:''; position: absolute; left: 0; top: 0; width: 4px; height: 32px; background: #00b6b7;}
.con_hd:after{  content:''; position: absolute; left: 15px; right: 0; bottom: 0; height: 1px; background: #e5e5e5;}
.con_hd a[href].hd_t{ margin-right: 20px;}
.con_hd a[href].hd_t{ color: #999;}
.con_hd a[href].hd_t.on{ color: #333;}
.hd_t span{padding-left: 5px; color: #666; font-size: 12px;}
.con_bd{ padding: 10px 0; background: #fff;}
.con_hd.bg{ background: #e6f4fe;}
.more{ position: absolute; font-size: 12px; height: 14px; line-height: 12px; padding: 0 4px; border-radius: 2px; background: #ff0000;   right: 0; top: 10px; color: #fff;}
.more:hover{ background: #fb4646;}
.back{position: absolute; right: 20px; font-size: 14px; color: #fff; }
/* 系统介绍 */
.xtjs{ height: 100%; }
.xtjs img{ max-width: 100%;}
.xtjs p{ line-height: 24px; color: #666; font-size: 14px; text-indent: 2em; padding-top: 5px;}
/* 新闻图 */

.slide{ font-size: 0; width: 300%; position: relative; transition: .3s;  left: 0;}
.slide a{ display: inline-block;  position: relative; width:394px; height: 212px;}
.slide a img{ width: 100%;}
.slide a span{ position: absolute; width: 100%; box-sizing: border-box; padding: 0 10px; height: 30px; line-height: 30px; left: 0; bottom: 0; font-size: 14px; color: #fff; background: rgba(0,0,0,0.5);-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=1,startColorstr=#7f000000,endColorstr=#7f000000)"; /*Filter for IE8 */
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1,startColorstr=#7f000000, endColorstr=#7f000000); /*Filter for older IEs */}
.slide_prew{ margin-top: 6px;}
.slide_prew img{ width: 128px; height:90px; opacity: 0.6; filter: Alpha(opacity=60);  margin-left: 5px; cursor: pointer;}
.slide_prew img:first-child{ margin: 0;}
.slide_prew img.current{ opacity: 1; filter: Alpha(opacity=100)}
/* 数据统计 */
.sjtj{ font-size: 0;}
.sjtj span{ display: inline-block; width: 50%; text-align: center; padding-bottom: 30px;}
.sjtj em{ display: block; font-size: 14px; color: #000; line-height: 30px; font-style: normal;}
.sjtj strong{ display: block; }
.sjtj i{ display: inline-block; font-size: 14px; color: #fff; width: 18px; height: 18px; text-align: center; line-height: 18px; font-weight: normal; font-style: normal; border-radius: 2px; margin: 0 2px; background: #00b6b7;}
/* list */
.list{counter-reset:num; position: relative;}
.list li:before{ content: counter(num); counter-increment:num; position: absolute; left: 5px; top: 10px; font-size: 14px; color: #fff; width: 18px; height: 18px; text-align: center; line-height: 18px; border-radius: 2px; background: #dcdada;}
.list li{ position: relative; line-height: 26px; color: #333333; font-size: 14px; padding: 6px 10px 6px 30px; }
.list li+li{ border-top: 1px dashed #c7cdd5;}
.list li.hot{ margin: 0; }
.list li.hot:before{ background: #00b6b7;}
.list a{ color: #333; transition: .3s;}
.list a:hover{ color: #00b6b7!important;}
/* list02 */
.list02 li:before{ content: ''; left: 3px; top:50%;margin-top:-3px; width: 6px; height: 6px; background: #dcdada; border-radius: 50%;}
.list02 li.hot a{ color:#e84244;  padding-right: 40px; background: url("../img/hot.png") right center no-repeat;}
.list02 li{ height: 26px; padding-left: 15px;}
.list02 li a{ display: block; }
/*list03*/
.list02.hastime li{padding:12px 0 12px 20px;}
.list02.hastime li .times{position:absolute;right:0;top:50%;height:22px;line-height:22px;display:inline-block;font-size:14px;color:#818181;margin-top:-11px;}
.list.list02.hastime li a:hover{color:#ff3e62 !important;}
/* 专题 */
.zt>a{ display: block; text-align: center; margin-top: 5px;  background: #fff; border: 1px solid #e5e5e5;}
.zt a:first-child{ margin: 0;}
.zt a:hover{ border-color: #999;transition: .3s;}
.zt_item:first-child{ border-bottom: 1px solid #ccc; margin-bottom: 10px;}
.zt_item h2{ text-align: center; padding-left: 40px; background: url(../img/zt_ico.png) left center no-repeat;}
.zt_item h2 a{ background: none; margin: 0; font-size: 16px; color: #e84244; line-height: 22px; font-weight: bold;}
.zt_item ul{counter-reset:n; padding: 10px 0 5px 0;}
.zt_item ul li{ padding: 5px 0 5px 25px;position: relative; border-top: 1px dashed #ccc; line-height: 22px; color: #333; font-size: 14px;}
.zt_item ul li:before{content: counter(n); counter-increment:n; position: absolute; left: 5px; top: 9px; font-size: 12px; color: #fff; width: 14px; height: 14px; text-align: center; line-height: 14px; border-radius: 8px; background: #535353;}

/* 联系我们 */
.lxwm{ background: url("../img/lxwm_bg.png") center top no-repeat; position: relative;}
.contact01{ position: absolute; width: 100%; padding: 5px 0; left: 0; bottom: 70px; line-height: 22px; font-size: 14px; color: #444;  background:rgba(232, 239, 248,0.8);-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=1,startColorstr=#c8e8eff8,endColorstr=#c8e8eff8)"; /*Filter for IE8 */
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1,startColorstr=#c8e8eff8, endColorstr=#c8e8eff8); /*Filter for older IEs */}
.contact01 p{ padding: 0 18px;}
.contact02{position: absolute; width: 100%; left: 0; bottom: 0; height: 70px; background: #e8eff8;}
.contact02 span{ float: left; position: relative; height: 70px; line-height: 70px; margin-right: 10px; width: 85px; font-size: 18px; padding-right: 10px; background: #00b6b7; color: #fff; text-align: center;}
.contact02 span:before{ content: ''; position: absolute; right: 0;  top: 50%; margin-top: -10px; border-width: 10px; border-color: transparent #e8eff8 transparent transparent; border-style:solid;}
.contact02 p{ color: #444444; font-size: 16px; margin-top: 9px;}
/* 技术支持单位 */

.abou_more{ display: none; }
.abou_more li{ padding: 10px 0;}
.abou_more li+li{ border-top: 1px dashed #ccc;}
.abou_more h3{ height:30px; line-height:30px; font-size:14px; }
.abou_more h3 a{ font-size: 16px; color: #e84244;font-weight:bold;}
.abou_more p{ line-height:2.1em; font-size:14px; color: #111;margin-top:10px;}
/* 悬浮 */
.wel{ position: absolute; left:50%; top:380px; margin-left: 520px; transition: .3s;}
.wel.fixed{ position: fixed; top: 20px;}
.wel.right{ right: 0; margin-left: 0; left: auto;}
.wel a{ position: absolute; width: 20px; height: 20px; background: url("../img/x.png"); right: 10px; top: 10px;}
/* 页脚 */
.footer{ background: #424a54; padding: 28px 0; font-size: 0;}
.link .ui_select:nth-child(2) select,.link .ui_select:nth-child(3) select{width:210px;}
.link{ padding-bottom: 20px;}
.ui_select{ display: inline-block; color: #fff; padding: 0 16px;}
.ui_select select{ border: 0; padding:3px 5px; height: 30px; font-size: 14px; color: #333;}
.ui_select span{ display: inline-block; background: #8f8b8b; height: 30px; line-height: 30px; font-size: 14px; padding: 0 5px; line-height: 30px;}
.footer_link{ width: 100%; margin-top: 20px; table-layout: auto; font-size: 14px;color: #ccc; }
.footer_link td{ padding: 0 30px;}
.footer_link td+td{ border-left: 1px solid #5e738e;}
.footer p{ line-height: 22px; }
.footer p img{ margin: 10px 5px;}
.wechat span{ display: inline-block; width: 100px; text-align: center;vertical-align: middle}
/* 二级 */
.sub_side{ width: 280px; margin-top: 30px; border: 1px solid #ececec; background: #f8f8f8;}
.sub_main{ width: 700px; margin-top: 30px;}
.self_head{ padding: 40px 0 30px 0;}
.head_wrap{ display: inline-block; width: 100px; height: 100px; border: 2px solid #e6e6e6; border-radius: 100px; overflow: hidden;}
.head_wrap img{ width: 100%;}
.self_name{ line-height: 40px; font-size: 16px; font-weight: bold; color: #0a57c8;}
.self_inf{ font-size: 14px; color: #5b5b5b;}
.self_inf i{ font-style: normal; color: #ff3e62;}
.self_inf span{ display: inline-block; padding: 0 20px; }
.self_inf span+span:before{ content: ''; display: inline-block; width: 1px; height: 16px; background: #e5e5e5; position: relative; left: -20px; top: 2px;}
.ico,.ico_a{ display: inline-block; height: 20px; width: 20px; margin-right: 5px; background: url(../img/ico.png) #f8f8f8;}
.ico_a{ background: url(../img/ico_a.png);}
.ico:before,.ico_a:before{ content: '\3000';}
.ico01{background-position: left 0;}
.ico02{background-position: left -20px;}
.ico03{background-position: left -40px;}
.ico04{background-position: left -60px;}
.ico05{background-position: left -80px;}
.ico06{ background-position: left -100px;}
.ico07{ background-position: left -120px;}
.ico08{ background-position: left -140px;}
.ico09{ background-position: left -120px;}

.self_inf .ico{ background-color: #ff3e62;}
.self_col h2{ position: relative; padding-left: 28px; height: 40px; line-height: 40px; background: #fff; font-size: 16px; color: #5b5b5b; border-top:1px solid #ececec; border-bottom:1px solid #ececec; }
.self_col h2:before{ content: ''; position: absolute; left: 0px; top: -1px; width: 5px; height: 42px; background: #ff3e62;}
.self_col a{ display: block; padding: 10px 0 10px 28px; background: #f8f8f8; color: #5b5b5b; font-size: 14px; }
.self_col a .ico{ background-color: #5b5b5b;}
.self_col a+a{ border-top: 1px solid #ececec;}
.self_col a:hover{ color: #0a57c8; }
.self_col a:hover .ico{ background-color: #0a57c8; transition: .3s;}
.self_col a.on{ color: #0a57c8;}
.self_col a.on .ico{ background-color: #0a57c8; transition: .3s;}
/* .sub_main */
.sub_main .con_hd:before,.con_hd.pink:before{ background: #ff3e62;}
.car_find{ font-size: 0;  background: #f8f8f8; border:1px solid #e5e5e5; padding: 10px;}
.car_find span{ font-size: 14px;}
.car_find select{ margin-left: 7px;border: 1px solid #d7d7d7; font-size: 14px;padding:5px; height: 34px; }
.car_find select:first-child{ margin-left: 0;}
.car_find a{ display: inline-block; font-size: 14px;height: 34px; line-height: 34px; background: #ff3e62; color: #fff; padding: 0 20px;}
.car_find a:hover{ background: #e23757 ;transition: .3s;}
.find_result{ margin-top: 10px;}
.table_list{ width: 100%; color: #5b5b5b; font-size: 14px;}
.table_list th{ height: 36px; border: 1px solid #e5e5e5}
.table_list td{ text-align: center; height: 40px; border-bottom:1px dashed #e5e5e5;}
.table_list td a{ color: #0a57c8; margin: 0 10px;}
.table_list td a:hover{ text-decoration: underline;}
.find_input{ box-sizing: border-box; width: 240px; font-size: 14px; height: 34px; line-height: 32px; border: 1px solid #e5e5e5; padding: 0 10px;}
/* car_index */
.car_index{ padding: 10px; border: 1px solid #e5e5e5; margin-top: -1px; font-size: 14px; color: #5b5b5b;}
.car_index span{ margin: 0 10px;}
.car_index i{ font-style: normal; line-height: 20px; padding: 0 5px; cursor: pointer;}
.car_index i.on{ background: #ff3e62; color: #fff;}
/* car_sort */
.car_sort{background: #f8f8f8; border:1px solid #e5e5e5; margin-top: 10px; font-size: 14px;}
.car_sort a{ display: inline-block; padding: 10px;color: #5b5b5b; border-left:1px solid #e5e5e5; margin-left: -1px;}
.car_sort a .ico{ background-color: #ececec;}
.car_sort a.on .ico{ background-color: #ff3e62;}
.car_sort a.down .ico{ background-position: left -140px }
/* result_el */
.result_el{ padding: 20px 0; border-bottom: 1px solid #e5e5e5; overflow: hidden;}
.el_img{ width: 210px; height: 136px; border: 1px solid #e5e5e5; margin-right: 30px;}
.el_img img{ width: 100%;}
.el_div{ position: relative;}
.el_div h2{ font-size: 16px;  font-weight: 300; padding-bottom: 20px;}
.el_div h2 a{color: #0a57c8;}
.el_div p{ line-height: 30px; font-size: 14px; color: #5b5b5b;}
.el_div p span{ color: #000;}
.a_btn{ display: inline-block; height: 24px; line-height: 24px; padding: 0 14px; border: 1px solid #0a57c8; color: #0a57c8; border-radius:12px;}
.a_btn:hover{ border-color: #0d6fff; color: #0d6fff;}
.el_div p a{ margin-top: 2px;}
.el_rate{ position: absolute; font-size: 14px; color: #5b5b5b; right: 0; top: 0;}
.el_rate span{ color: #0a57c8; }
.el_rate .ico_a{ margin-left: 10px;}
/* page */
.page{ text-align: center; padding: 20px 0; font-size: 14px; color: #5b5b5b}
.page a{ display: inline-block; padding:10px 15px; border: 1px solid #e5e5e5; color: #0a57c8; margin: 0 5px; transition:.3s;}
.page a:hover{ border: 1px solid #0a57c8;}
.page a.on{ border-color:#fff!important; color: #5b5b5b; cursor: text;}
.page.hasline{border-top:1px solid #E5E5E5;margin-top:20px;}
/*系统登录*/
.page-title{color:#fff;font-size:20px;line-height:120px;}
.page-title span{font-family:"Capsuula";color:#d3d3d3;font-size:24px;margin-left:5px;padding-top:2px;}
.row{display:table;width:100%;}
.col{display:table-cell;vertical-align:middle;position:relative;}
.col33{width:33%;}
.col50{width:50%;}
.col25{width:25%;}
.input{width:100%;border:1px solid #E0E0E0;height:38px;line-height:38px;padding:0 5px;font-size:14px;color:#004B99;box-sizing:border-box;}
.input::-webkit-input-placeholder{font-size:12px;color:#999;}
.input::-moz-placeholder{font-size:12px;color:#999;}
.input:-ms-input-placeholder{font-size:12px;color:#999;}
.input:focus{border-color:#2E79AF;box-shadow:0 0 5px #2E79AF;}
.login-form{padding:40px 0;border-bottom:1px solid #D2D2D2;margin-bottom:40px;min-height:400px;}
.login-form .row{padding:5px 0;}
.login-form .row .col33{color:#666666;font-size:14px;width:28%;}
.important:after{content:"*";display:block;width:14px;height:14px;line-height:14px;position:absolute;top:50%;margin-top:-5px;right:-20px;font-size:22px;color:#ff0000;}
.login-form .code{position:absolute;height:30px;top:50%;margin-top:-15px;right:3px;}
.login-form .btn-mini{height:36px;line-height:36px;padding:0 15px;right:1px;top:1px;position:absolute;}
.mt30{margin-top:30px;}
.link-group a{padding-left:28px;font-size:15px;color:#666;display:inline-block;height:24px;line-height:24px;}
.link-group a:hover{color:#004B99;}
.login-form .app-radio{margin-bottom:3px;}
.bbf{font-size:30px;color:#004f9f;font-weight:bold;margin-top:10px;}
.sbf{font-size:13px;color:#000;margin-top:20px;}
.ion-list-h{font-size:14px;margin-bottom:40px;}
.ion-list-h .col{height:95px;padding-left:100px;position:relative;color:#808080;font-size:14px;}
.ion-list-h .col span{min-width:50%;display:inline-block;padding-left:1em;}
.ion-list-h .col img{position:absolute;left:0;top:0;}
.ion-list-h .col:hover{color:#004F9F;}
/*系统注册*/
.register-form{padding:20px 25% 50px 20%;margin:30px auto;box-sizing: border-box}
.form-tab-handle{border-bottom:1px solid #D2D2D2;padding:0 10%;margin-top:20px;}
.form-tab-handle a{display:inline-block;height:36px;line-height:36px;padding:0 20px;border:1px solid #CCCCCC;border-radius:5px 5px 0 0;position:relative;top:1px;color:#666;font-size:16px;}
.form-tab-handle a.active{border-bottom:1px solid #fff;}
/*建设进度*/
.module-title{height:30px;border-left:3px solid #FF3E62;border-bottom:1px solid #E5E5E5;margin:10px 0;}
.module-title h1{display:inline-block;font-size:18px;color:#333;height:30px;line-height:30px;padding-left:1em;}
.module-title span{font-size:12px;color:#787878;}
.time-line{position:relative;padding:100px 0 10px 0;}
.time{display:block;width:72px;height:72px;line-height:72px;text-align:center;background:#FF3E62;color:#fff;font-size:16px;border-radius:50%;margin:0 auto;margin-bottom:-72px;position:relative;z-index:20;}
.time-line:before{content:"";height:100%;width:1px;position:absolute;left:50%;border-left:1px solid #E5E5E5;top:0;}
.time-line .row{position:relative;}
.time-line .row:before{content:"";display:inline-block;width:22px;height:22px;border-radius:50%;border:3px solid #E5E5E5;position:absolute;left:50%;margin-left:-11px;top:50%;margin-top:-11px;box-sizing: border-box;z-index:13;}
.time-line .row.rl:before{background:#0092A1;}
.time-line .row.lr:before{background:#0A51A2;}
.time-line .rl .wrap,.time-line .lr .title{padding-right:50px;text-align:right;}
.time-line .rl .title,.time-line .lr .wrap{padding-left:50px;text-align:left;}
.time-line .rl .wrap:after{content: "";width:100px;height:1px;border-top:1px dotted #ddd;position:absolute;right:-50px;top:50%;z-index:10;}
.time-line .lr .wrap:after{content: "";width:100px;height:1px;border-top:1px dotted #ddd;position:absolute;left:-50px;top:50%;z-index:10;}
.wrap-inner{border:1px solid #ECECEC;border-radius:5px;background:#F5F5F5;padding:15px;}
.time-line .title h2{font-size:16px;color:#333;}
.time-line .title a{font-size:16px;color:#0a57c8;}
.time-line .row:hover .wrap-inner{box-shadow:0 0 10px #ccc;}
.wrap-inner img{margin:5px 8px;}
.wrap-inner a{font-size:14px;text-align:left;position:relative;padding-left:1.3em;display:block;color:#000;}
.wrap-inner a:before{content: "";display:inline-block;width:6px;height:6px;border-radius:50%;background:#FF3E62;position:absolute;left:0.5em;top:50%;margin-top:-3px;}
/*绑定车辆*/
.table-form{width:100%;}
.table-form th{font-size:14px;box-sizing:border-box;color:#0a57c8;font-weight:normal;text-align:right;padding-right:1em;}
.table-form.hd-b th{color:#666;padding:10px 0;}
.table-form th span{color:#ff3e62;}
.table-form td{padding:0.3em 0.5em;}
.table-form td .input{color:#5b5b5b;}
.table-form .info{font-size:12px;color:#b0b0b0;text-align:center;margin:10px 0;}
.upfile-btn{width:100px;display:inline-block;height:30px;line-height:30px;border-radius:18px;border:1px solid #0A57C8;color:#0A57C8;position:relative;overflow: hidden;cursor:default;text-align:center;}
.upfile-btn span{font-size:16px;}
.upfile-btn input{font-size:200px;opacity:0;filter:alpha(opacity=0);position:absolute;top:0;left:0;}
.date{position:relative;}
.date:after{content: "";display:inline-block;height:36px;width:36px;position:absolute;right:0;top:0;background:url("../img/date.jpg") no-repeat center center;}
/*车辆信息*/
.table-title{border-bottom:1px solid #E5E5E5;margin-bottom:20px;}
.table-title h2{height:36px;line-height:36px;padding:0 20px;border-radius:5px 5px 0 0;display:inline-block;background:#F2F2F2;color:#5b5b5b;font-size:14px;cursor: pointer;}
.table-title h2.active{color:#fff;background:#0A57C8;}
.carinfo{font-size:14px;color:#5b5b5b;padding:10px 0 20px 0;}
.carinfo p{padding-top:5px;}
.carinfo .col{padding-right:20px;}
.c000{color:#000;}
.fs16{font-size:16px;}
.c-b{color:#0a57c8;}
.c-p{color:#ff3e62;}
.fb{font-weight:bold;}
.v{position:relative;}
.v.no{color:#666 !important;}
.v:after{content: "";display:inline-block;width:16px;height:16px;background:url("../img/v.png") no-repeat center center;position:absolute;right:-25px;top:50%;margin-top:-8px;}
.v.no:after{content: "";display:inline-block;width:16px;height:16px;background:url("../img/v-no.png") no-repeat center center;position:absolute;right:-25px;top:50%;margin-top:-8px;}
/* 个人资料修改 */
.self_modify{ padding: 30px 0; overflow: hidden;}
.head_modify{ width: 220px; margin-right: 20px;}
.head_modify .head_wrap{ border-radius: 0;}
.head_modify p{ padding: 9px 0; font-size: 10px; line-height: 14px; color: #b0b0b0;}
.name_modify{ position: relative;}
.name_modify p{ line-height: 34px; font-size: 14px;color: #5b5b5b;}
.name_modify p span{ display: inline-block; text-align: right; width: 70px; margin-right: 10px; }
.name_modify p i{ font-style: normal; }
.name_modify p.name{ color: #0a57c8; font-size: 16px; margin-top: -8px; margin-bottom: 10px; font-weight: bold;}
.name_modify .btn{ position: absolute; right: 0; top: 0;}
/*合作伙伴*/
.gra-list li{position:relative;padding:10px 10px 10px 230px;box-sizing: border-box;min-height:156px;margin-bottom:10px;border-bottom:1px dotted #ccc;}
.gra-list li:last-child{border:none;}
.gra-list .gra{position:absolute;left:0;top:10px;width:210px;height:136px;}
.gra-list .title{font-size:16px;color:#0a57c8;display:block;overflow:hidden;text-overflow:ellipsis;white-space: nowrap;}
.gra-list p{font-size:14px;color:#333;line-height:30px;}
.gra-list p a{color:#ff3e62;}
/*按钮*/
.btn{display:inline-block;text-decoration:none;font-size:15px;}
.btn:hover{opacity:0.9;filter:alpha(opacity=90);}
.btn:active{opacity:1;filter:alpha(opacity=100);}
.btn-block{display:block;padding:8px 10px;text-align:center;}
.btn-blue{background-color:#004F9F;color:#fff;}
.btn-blue-l{background-color:#46B3EE;color:#fff;}
.btn-normal{padding:8px 30px;}
.btn-m{padding:10px 100px;}
.btn-pink{background:#FF3E62;color:#fff;}
.btn-conner{border-radius:19px;height:32px;line-height:32px;padding:0 20px;}
/*radio*/
.app-radio { position: relative; min-height: 16px; display: inline-block; zoom: 1; *display: inline;font-size:16px;color:#666;}
.app-radio input{margin-right:10px;}
.app-radio a{color:#004f9f;}
/*select*/
.select{width:100%;height:38px;border:1px solid #E0E0E0;font-size:14px;color:#5b5b5b;}
/*textarea*/
.textarea{height:auto !important;resize:none;line-height:30px;}
/*企业*/
.ml_10{margin-left:10px;}
.fs-14{font-size:14px;}
/*企业查询二级*/
.fs22{font-size:22px;}
.c26{color:#262626;}
.vt{vertical-align: top;}
.ptb_20{padding:20px 0;}
.address{padding-left:30px;background:url("../img/gps.png") no-repeat left center;position:relative;}
.pl_30{padding-left:30px;}
.vs{padding-left:25px;background:url("../img/renzheng.png") no-repeat left center;}
.ml_30{margin-left:30px;}
.bor_box{border:1px solid #E5E5E5;padding:10px;}
.phone{padding-left:40px;background:url("../img/phone.png") no-repeat left center;font-size:30px;color:#ff3e62;}
.c5b{color:#5b5b5b;}
.bor_t{border-top:1px solid #E5E5E5;}

/*c*/
.mt_2{margin-top:2px;}
.activity_img{padding:17px 13px;}
.activity_img img{width: 200px;}
.fs_18{font-size: 18px;}
.activity_info{color: #5b5b5b;line-height: 30px;}
.comment_con_bar{height: 38px;font-size: 0;border: 1px solid #e5e5e5;background: #f9f9f9;margin-top: 18px;line-height: 38px;}
.comment_con_bar a{display: inline-block;font-size: 14px;color: #5b5b5b;border-right: 1px solid #e5e5e5;height: 100%;padding: 0 33px;}
.comment_con_bar a.on,.comment_con_bar a:hover{color: #2087c5;}
.comment_lists li{padding: 20px 0;border-bottom: 1px dashed #c9c9c9;box-sizing: border-box;overflow: hidden;}
.comment_left{width: 117px;float: left;text-align:center;}
.comment_right{width: 843px;float: left;padding-left: 20px;}
.comment_left span{display: inline-block;width: 60px;height: 57px;overflow: hidden;}
.comment_left span img{width: 100%;}
.comment_left p{font-size: 12px;color: #a2a3a3;}
.comment_tit{height: 30px;background: #f5f9fc;line-height: 30px;color: #a2a3a3;}
.comment_star{display: inline-block;padding: 0 18px;}
.comment_tit span{border-right: 1px solid #dbdcde;padding: 0 13px;font-size: 12px;}
.comment_para{font-size: 12px;color: #5b5b5b;padding: 10px 0;}
.comment_time{font-size: 12px;color: #a2a3a3;}
/*弹出层*/
.pop_mask{width:100%;height:100%;background:#000;opacity: 0.3;filter:alpha(opacity=30);position:fixed;top:0;left:0;z-index:100;}
.pop_box{position:fixed;z-index:101;padding:30px;background:#fff;top:50%;left:50%;display:none;border-radius:10px;min-width:700px;max-width:700px;max-height:80%;min-height:500px;}
.pop_box .close{display:inline-block;width:30px;height:30px;position:absolute;right:10px;top:10px;background:url("../img/close.png") no-repeat center center;}
/*投诉*/
.page-head{background:#F9F9F9;padding:15px;border:1px solid #E5E5E5;}
.c666{color:#666;}
.fs26{font-size:26px;}
.mr_30{margin-right:30px;}
.gps-mini{background:url("../img/gps-mini.png") no-repeat left center;padding-left:20px;height:30px;line-height:30px;display:inline-block;}
.phone-mini{background:url("../img/phone-mini.png") no-repeat left center;padding-left:30px;height:30px;line-height:30px;display:inline-block;}
.sub_line_dot{border-bottom:1px dashed #ccc;padding-top:10px;padding-bottom:10px;}
.upload-img-box{border:1px solid #D7D7D7;padding:10px;}
.upload-img-box .tips{font-size:14px;color:#999;line-height:24px;}
.upload-img-box .img-wrap{overflow:hidden;zoom:1;}
.upload-img-box .img-wrap li{display:inline-block;width:140px;height:140px;margin-right:10px;float: left;background:url("../img/addimg.jpg") no-repeat center 40%;border:1px solid #D7D7D7;position:relative;}
.upload-img-box .img-wrap li .text{position:absolute;display:block;width:100%;left:0;top:60%;font-size:14px;color:#b6b6b6;text-align:center;}
.upload-img-box .img-wrap li.uploaded img{display:block;position:relative;z-index:10;}
.upload-img-box .img-wrap li.uploaded p{display:block;}
.upload-img-box .img-wrap li p{position:absolute;bottom:0;left:0;width:100%;height:30px;background:url("../img/opacitybg.png") repeat;z-index:11;display:none;text-align:right;}
.upload-img-box .img-wrap li p .delete{display:inline-block;width:30px;height:30px;background:url("../img/delete.png") no-repeat center center;}
.upload-img-box .img-wrap li img{width:100%;height:100%;display:none;}
/*c*/
.color_red{color: #ff2e2e;}.color_green{color: #0a9300;}
.ellipsis{display: block;width: 100%;white-space: nowrap;overflow: hidden;text-overflow:ellipsis;}
.info_lists li{overflow: hidden;padding: 20px 0;border-bottom: 1px dashed #ccc;}
.info_lists li p{width: 105px;text-align:center;font-size: 14px;color: #666;font-weight:normal;}
.info_lists li .cell p{font-size: 14px;color: #666;font-weight: normal;width: 100%;text-align: left;}
.info_imgs{width: 220px;height: 160px;display: inline-block;overflow: hidden;margin-right:18px;border: 1px solid #ccc;}
.info_imgs img{width: 100%;}
.info_btn{position: absolute;right: 40px;top: 30px;}
.info_btn button{display: inline-block;width: 100px;margin-left: 10px;padding: 8px 0;}
.btn-border-pink{border: 1px solid #FF3E62;color: #FF3E62;background: #F9F9F9;}
.pl_20{padding-left: 20px;}
.car_bd{height: 47px;font-size: 0;border-right: 1px solid #ccc;text-align: center;line-height: 47px;}
.car_bd a{display: inline-block;height: 100%;width: 20%;border-left: 1px solid #ccc;background: #f8f8f8;font-size: 18px;color: #333;box-sizing: border-box;position: relative;}
.car_bd a.car_bd_on{background: #fff;}
.car_bd a.car_bd_on:before{content: '';height: 3px;width: 100%;background: #0a57c8;position: absolute;left: 0;top: 0;}
.car_hd{display: none;padding: 40px 20%;}
.car_img{width: 100px;height: 100px;border: 1px solid #ccc;text-align:center;margin-right: 33px;}
.car_img img{width: 100%;}
.car_img p{color:#004F9F;font-size:16px;margin-top:10px;}
.car_que_tip{background: #ceddf4;width: 400px;border: 1px dashed #0a57c8;color: #fff;font-size: 18px;border-radius: 5px;padding: 22px;}
.car_que_tip img{margin-right: 10px;vertical-align: sub;}
.car_que{padding-top: 40px;color: #5b5b5b;font-size: 14px;}
.car_que dd{line-height: 32px;padding-left: 2em;}
.car_que label{padding-right: 30px;}
.car_que label input{vertical-align: middle;margin-right: 5px;}
.car_btn{padding-left:2em;margin-top: 45px;}
.car_btn button{width: 240px;}
/* 资料修改 */
.input_file{ border: 1px solid #E0E0E0; padding: 10px;}
.table-form td{ position: relative;}
.por{ position: absolute; right: 10px; top: 50%; height: 34px; margin-top: -17px; cursor: pointer;}
.code_btn{ padding: 0 10px; font-size: 14px; height: 34px; line-height: 34px; color: #666; background: #f3f3f3;}
.code_btn:hover{ background: #eee;}
/*维修记录评价*/
.pj{padding-top:5px;margin-top:5px;}
.pj .col{text-align:left;}
.pj .col25{width:127px;color:#666666;font-size:14px;text-align:right;padding-right:10px;box-sizing: border-box;}
.finish{padding-left:30px;background:url("../img/finish-off.png") no-repeat left center;display:inline-block;height:30px;line-height:30px;cursor: pointer;}
.finish.active{background-image: url("../img/finish-on.png")}
.pr_10{padding-right:10px;}
.bor_none{border:none !important;padding:0 !important;}
.mb_15{margin-bottom:15px;}
/*字体*/
@font-face {
    font-family: "Capsuula";
    src: url("../fonts/Capsuula.eot"); /* IE9 */
    src: url("../fonts/Capsuula.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */

    url("../fonts/Capsuula.woff") format("woff"), /* chrome、firefox */
    url("../fonts/Capsuula.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+ */

    url("../fonts/Capsuula.svg#Capsuula") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}